<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Login </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
    <ion-item>
      <ion-label position="floating">Name</ion-label>
      <ion-input
        type="text"
        class="form-control"
        placeholder="Enter full name"
        formControlName="name"
      ></ion-input>
    </ion-item>
    <div class="form-control-feedback" *ngIf="name.touched">
      <p *ngIf="name.hasError('required') && name.touched">Name is required</p>
      <p *ngIf="name.hasError('maxlength')">
        Name Should not Exceed 10 charecters.
      </p>
      <p *ngIf="name.hasError('validateConsectiveName')">
        No consecutive charecters are allowed
      </p>
      <p *ngIf="name.hasError('validateUpper')">
        Atleast Should contain one Capital
      </p>
      <p *ngIf="name.hasError('validateNumber')">
        User Name Should have atleast one Number
      </p>
      <p *ngIf="name.hasError('validateOneNumber')">
        User Name Should not have more than one Number
      </p>
    </div>
    <ion-item>
      <ion-label position="floating">Password</ion-label>
      <ion-input
        type="text"
        class="form-control"
        placeholder="Enter password"
        formControlName="password"
      ></ion-input>
      <div class="form-control-feedback" *ngIf="password.touched">
        <p *ngIf="password.hasError('required') && password.touched">
          Password is required
        </p>
        <p *ngIf="password.hasError('minlength')">
          Password Should be more than 8 charecters
        </p>
        <p *ngIf="password.hasError('pattern')">
          Password Should Not have Numbers
        </p>
      </div>
    </ion-item>

    <ion-button
      class="btn btn-primary"
      [disabled]="formGroup && !formGroup.valid"
      type="submit"
      >Submit Form</ion-button
    >
  </form>
</ion-content>
